body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #002E94;
}
.canvas {
  width: 400px;
  height: 445px;
  position: relative;
  box-sizing:content-box;
}
