
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(#F94892,#FFA1CF);
}

.canvas {
  width: 400px;
  height: 445px;
  position: relative;
  box-sizing: content-box;
}